<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled">
          <li class="col-xs-12">
            <p>
              Ac Ut, Consequat Semper Viverra
              <br/>
              Diam, Ut VE10 1TE
            </p>
          </li>
          <li class="col-xs-12">
            <p>
              sitamet@cursussit.am
              <br/>
              +00 (0)00 0000 0000
            </p>
          </li>
          <li class="col-xs-12">
            <ul class="list-unstyled list-inline social-footer-icons">
              <li>
                <a href="#">
                  <svg class="icon icon-facebook">
                    <use xlink:href="dist/img/icons/social.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon icon-twitter">
                    <use xlink:href="dist/img/icons/social.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon icon-instagram">
                    <use xlink:href="dist/img/icons/social.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="col-xs-12">
            <small>
              Copyright Amet Luctus lectus 2016. All right reserved.
              <br/>
              Terms & Conditions Privacy Policy
            </small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
