<link href="dist/css/main.css" rel="stylesheet"/>

<!-- Chrome, Firefox OS and Opera -->
<meta content="#F2C417" name="theme-color">
<!-- Windows Phone -->
<meta content="#F2C417" name="msapplication-navbutton-color">
<meta content="#F2C417" name="msapplication-TileColor">

<!-- iOS Safari -->
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta charset="UTF-8"/>
<meta content="ie=edge" http-equiv="x-ua-compatible">

<title>{{ title }}</title>

<!-- inject svg files for older browsers -->
<script src="svg4everybody/dist/svg4everybody.min.js" type="text/javascript"></script>
<script>
 svg4everybody();
</script>
