.my-btn-default {
  @include button-variant-transparent($white);
}

.my-btn-slide {
  font-size: 1.2em;
  padding: 10px;
  .helper-btn {
    width: 19px;
    height: 100%;
    display:block;
    float:left;
    transition: all .3s ease-in-out;
    opacity: 0;
  }
  .arrow-btn {
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  &:hover {
    .arrow-btn {
      opacity: 1;
    }
    .helper-btn {
      width: 6px;
    }
  }
}