#my-brand {
  left: 0;
  padding-top: 20px;
  height: 120px;
  color: $bluemarine;
}

.cover {
  position: relative;
  margin-top: 0;
  height: 100%;
  background: url('/dist/img/cover-copy-brandy.jpg') no-repeat center right;
  background-size: auto auto;
  background-attachment: fixed;
  color: white;

  h1 {
    font-size: 4.8em;
  }

  p {
    font-size: 1.5em;
  }

  @include for-screen(only-xs) {
    h1 {
      font-size: 3.8em;
    }

    p {
      font-size: 1.2em;
    }
  }

  .cover-title {
    margin-top: 50px;
    padding: 40px 0;
  }

  .down-icon {
    position: absolute;
    bottom: 10px;
    left: 0;
    a {
      color: white;
      &:hover {
        color: $red;
      }
    }
  }

  .btn {
    border-radius: 0;
  }

  .form-control {
    height: 47px;
  }

  .btn-start {
    margin-top: 48px;
    a {
      @extend .my-btn-slide;
    }
  }
}
