.cover {
  margin-top: 0;
  height: 650px;
  background: url('/dist/img/cover-copy-brandy.jpg') no-repeat center right;
  background-size: auto auto;
  background-attachment: fixed;
  color: white;

  h1 {
    font-size: 4.8em;
  }

  p {
    font-size: 1.5em;
  }

  .cover-title {
    margin-top: 50px;
    padding: 40px 0;
  }

  .down-icon {
    position: absolute;
    bottom: -80px;
    left: 0;
    a {
      color: white;
      &:hover {
        color: #e34e41;
      }
    }
  }

  .btn {
    border-radius: 0;
  }
  .form-control {
    height: 47px;
  }
  .btn-start {
    margin-top: 48px;
    a {
      font-size: 1.2em;
      padding: 10px;
    }
    i {
      display: none;
    }
    &:hover {
      i {
        display: inherit;
      }
    }
  }
}