.navbar {
  margin-bottom: 0;
  border: 0;
  .navbar-brand {
    font-size: 3rem;
  }
  .navbar-toggle {
    padding: 0;
    .icon-bar {
      margin-bottom: 6px;
      width: 36px;
      height: 5px;
      &:last-child {
        margin-bottom: 6px;
      }
    }
    &:hover {
      .icon-bar {
        background-color: $skyblue;
      }
    }
  }
  .navbar-collapse {
    background-color: $skyblue;
  }
  li > a {
    margin: 8px;
    font-size: 20px;
    color: white !important;
    &:hover {
      color: $bluemarine !important;
    }
  }
}

.navbar-nav li > a.follow {
  display: none;
  text-decoration: none;
  color: $gray;
  font-size: 12px;
  &:hover {
    color: $gray;
  }
}

.social-nav {
  text-align: center;
  padding: 0;
  li {
    display: inline;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .icon-facebook {
    font-size: 25px;
    color: $white;
    &:hover {
      color: $bluemarine;
    }
  }

  .icon-twitter {
    @extend .icon-facebook;
    font-size: 27px;
  }
}