#navbar {
  margin-bottom: 0;
  border: 0;
  .navbar-brand {
    font-size: 3rem;
  }
  .navbar-toggle {
    padding: 0;
    .icon-bar {
      margin-bottom: 6px;
      width: 36px;
      height: 5px;
      &:last-child {
        margin-bottom: 6px;
      }
    }
    &:hover {
      .icon-bar {
        background-color: $skyblue;
      }
    }
  }
  @include for-screen(only-xs) {
    .navbar-collapse {
      background-color: $skyblue;
    }
    li > a {
      margin: 8px;
      color: white !important;
      &:hover {
        color: $bluemarine !important;
      }
    }
  }

  li > a {
    font-size: 20px;
  }
}

.navbar-nav li > a.follow {
  display: none;
  text-decoration: none;
  color: $gray;
  font-size: 12px;
  &:hover {
    color: $gray;
  }
}

.social-nav {
  text-align: center;
  padding: 0;
  li {
    display: inline;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .icon-instagram, .icon-facebook {
    font-size: 25px;
    margin-top: 32px;
    &:hover {
      color: $skyblue;
    }
    @include for-screen(only-xs) {
      color: $white;
      &:hover {
        color: $bluemarine;
      }
    }
  }

  .icon-twitter {
    @extend .icon-facebook;
    font-size: 27px;
  }
}

.cd-nav-trigger {
  transition: transform 0.5s;
  .cd-nav-icon {
    background-color: $white;
  }
  &:hover {
    .cd-nav-icon::before {
      transform: translateY(-12px);
    }
    .cd-nav-icon::after {
      transform: translateY(12px);
    }
  }
}
.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  transform: rotate(180deg);
}
.cd-nav-trigger .cd-nav-icon::before,
.cd-nav-trigger .cd-nav-icon:after {
  /* upper and lower lines of the menu icon */
  width: 100%;
  height: 100%;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
  transform-origin: right top;
  transform: translateY(-10px);
}
.cd-nav-trigger .cd-nav-icon::after {
  transform-origin: right bottom;
  transform: translateY(10px);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
  transform: rotate(-45deg);
}
.cd-nav-trigger circle {
  /* circle border animation */
  transition: stroke-dashoffset 0.4s 0s;
}
.navigation-is-open .cd-nav-trigger circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.4s 0.3s;
}