.social-panels {
  .flex-box {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    height: auto;
  }
  .flex-item {
    position: relative;

    &:first-child,
    &:nth-child(2) {
      margin-bottom: 30px;
      @include for-screen(only-xs) {
        width: 100%;
      }
      @include for-screen(up-sm) {
        width: 50%;
        padding-right: 15px;
      }
      @include for-screen(only-lg) {
        width: 25%;
        margin-bottom: 0;
        padding-right: 22.5px;
      }
    }

    &:first-child {
      .my-panel-footer {
        transform: translateY(-35px);
      }
    }

    &:nth-child(2) {
      @include for-screen(up-sm) {
        padding-right: 0px;
        padding-left: 15px;
      }
      @include for-screen(only-lg) {
        padding-right: 15px;
        padding-left: 7.5px;
      }
    }

    &:last-child {
      margin-bottom: 0;
      width: 100%;
      @include for-screen(only-lg) {
        width: 50%;
        padding-left: 15px;
      }
    }
  }

  .my-panel-footer {
    border-radius: 0;
    background-color: $bluemarine;
    padding: 8px;
    height: 35px;
    width: 100%;
    color: white;
    &:hover {
      background-color: $brand-info;
    }
    svg {
      font-size: 19px;
    }
  }

  .panel-twitter {
    height: 100%;
    background-color: #eee;
    padding: 30px;
    span {
      position: absolute;
      padding: 25px 10px;
      background-color: $bluemarine;
      color: white;
    }
    p {
      margin-top: 100px;
      font-size: 1.2em;
      color: $bluemarine;
    }
    a {
      color: $red;
    }

  }

  .panel-instagram {
    img {
      width: 100%;
      height: auto;
    }
  }

  .form-news {
    height: 100%;
    background-color: $red;
    color: white;
    padding: 44px 30px;
    font-size: 1.2em;
    .btn {
      padding: 11px;
      border-radius: 0;
      background-color: $bluemarine;
      border: 1px solid $bluemarine;
      height: 50px;
      font-size: 1.1em;
    }

    input {
      border-radius: 0;
      border: 1px solid white;
      height: 50px;
      &:focus {
        border: 1px solid $gray;
      }
    }
    ::-webkit-input-placeholder {
      font-size: 1.2em;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-size: 1.2em;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 1.2em;
    }
    :-ms-input-placeholder {
      font-size: 1.2em;
    }
  }
}