<div class="full-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <hr class="separator-default"/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-sm-8 col-lg-6">
        <h2 class="zapimo-bg-title">
          Nuestro compromiso y servicio se notan desde el primer momento
        </h2>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-xs-9">
        <a class="btn btn-zapimo-bg btn-lg" href="#service">
          <span>Comenzar</span>
        </a>
      </div>
    </div>
  </div>
</div>
