<div class="container">
  <a href="/#home" class="cd-nav-trigger">
	  <span class="cd-nav-icon"></span>
    <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 58 58">
			<circle fill="transparent" stroke="#2c3e4f" stroke-width="3" cx="31" cy="31" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
		</svg>
  </a>
  <div class="row">
    <div class="layer"></div>
    <div id="cd-nav" class="cd-nav">
      <div class="cd-navigation-wrapper">

			  <div class="cd-half-block">
		      <a href="#my-brand"><h1>Copy Brandy</h1></a>
				  <nav>
					  <ul class="list-unstyled cd-primary-nav text-center">
						  <li class="col-xs-12 col-sm-3"><a href="#my-brand">Home</a></li>
						  <li class="col-xs-12 col-sm-3"><a href="#works">Works</a></li>
						  <li class="col-xs-12 col-sm-3"><a href="#social">About</a></li>
						  <li class="col-xs-12 col-sm-3"><a href="#social">News</a></li>
					  </ul>
				  </nav>
			  </div><!-- .cd-half-block -->
			  <div class="cd-half-block">
          <div class="navbar-social">
            <ul class="col-xs-12 social-nav">
              <li>
                <a href="#">
                  <svg class="icon icon-facebook">
                    <use xlink:href="dist/img/icons/social.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon icon-twitter">
                    <use xlink:href="dist/img/icons/social.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon icon-instagram">
                    <use xlink:href="dist/img/icons/social.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
			  </div> <!-- .cd-half-block -->
		  </div> <!-- .cd-navigation-wrapper -->
    </div>
	</div> <!-- .cd-nav -->
</div>
