<div class="social-panels">
  <div class="container">
    <div class="row">
      <ul class="list-unstyled">
        <li class="col-xs-12 col-sm-6 col-lg-3 panel-twitter">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <span>CopyBrandy</span>
                </div>
                <div class="col-xs-12">
                  <p>
                    Ut tristique... <a href="">Quis viverra nibh cras pulvinar mattis nunc, sed blandit libero volutpat sed cras</a></p>
                </div>
              </div>
            </div>
            <div class="panel-footer text-center">
              <svg class="icon">
                <use xlink:href="dist/img/icons/social.svg#icon-twitter"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="col-xs-12 col-sm-6 col-lg-3 panel-instagram">
          <div class="panel panel-default">
            <div class="panel-body">
              <img class="img-responsive" src="/dist/img/last-work-4.jpg" alt="" />
            </div>
            <div class="panel-footer text-center">
              <svg class="icon">
                <use xlink:href="dist/img/icons/social.svg#icon-instagram"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="col-xs-12 col-lg-6">
          <form action="" class="form-news">
            <h1>Receive our newsletter</h1>
            <p>
              The latest Design, Brand & Digital goings-on.
            </p>
            <div class="col-xs-12 col-sm-7 input-group input-group-lg">
              <input name="email" type="text" class="form-control" placeholder="Email address"/>

            </div>

            <buttom type="submit" class="btn btn-primary btn-lg">Submit</buttom>

          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
