<div id="works" class="works">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Our latest Works</h1>
      <ul class="list-unstyled">
        <li class="col-xs-12 col-sm-6">
          <div class="work">
            <img src="/dist/img/last-work-1.jpg" alt="" />
            <div class="info-works text-center">
              <div class="text-work">
                <h2>Bibendum at.</h2>
                <h4>Nunc, consequat interdum varius.</h4>
              </div>
            </div>
          </div>
        </li>
        <li class="col-xs-12 col-sm-6">
          <div class="work">
            <img src="/dist/img/last-work-2.jpg" alt="" />
            <div class="info-works text-center">
              <div class="text-work">
                <h2>Bibendum at.</h2>
                <h4>Nunc, consequat interdum varius.</h4>
              </div>
            </div>
          </div>
        </li>
        <li class="col-xs-12 col-sm-6">
          <div class="work">
            <img src="/dist/img/last-work-3.jpg" alt="" />
            <div class="info-works text-center">
              <div class="text-work">
                <h2>Bibendum at.</h2>
                <h4>Nunc, consequat interdum varius.</h4>
              </div>
            </div>
          </div>
        </li>
        <li class="col-xs-12 col-sm-6">
          <div class="work">
            <img src="/dist/img/last-work-4.jpg" alt="" />
            <div class="info-works text-center">
              <div class="text-work">
                <h2>Bibendum at.</h2>
                <h4>Nunc, consequat interdum varius.</h4>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="col-xs-12 text-center see-all-works">
        <h4>
          <a href="">
            <span class="text-btn">See all our work</span>
            <span class="arrow-btn">
              <i class="fa fa-long-arrow-right"></i>
            </span>
          </a>
        </h4>
      </div>
    </div>
  </div>
</div>
